# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Project files
/.cache/
/alfa
/compile_commands.json
test/aritmeticas1
test/aritmeticas2
test/comparaciones
test/error_ej1
test/error_ej2
test/error_se1
test/error_se2
test/error_se3
test/error_se4
test/error_se5
test/error_se6
test/error_se7
test/error_se8
test/error_se9
test/error_se10
test/error_se11
test/error_se12
test/error_se13
test/error_se14
test/error_se15
test/funciones1
test/funciones2
test/funciones3
test/funciones4
test/if1
test/if2
test/if3
test/logicas1
test/logicas2
test/vectores1
test/vectores2
test/vectores3
